{% extends "base.twig" %}

{% block content %}
  <div id="IndexArchive" class="uk-section uk-container" data-template="index.twig">
    <div class="uk-grid-large" uk-grid>
      
      <section class="archive-section uk-width-2-3@m">
          
        <header class="archive-header">
          <h1 class="uk-article-title uk-margin-large-bottom">{{title|e('esc_html')}}</h1>
        </header>
        
        {% if posts is not empty %}
          <div class="archive-posts">
            {% for post in posts %}
              {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
            {% endfor %}
          </div>
        {% else %}
          <p class="uk-text-emphasis">{{ __('No posts found. Add some posts & dont forget to add featured images.', 'rmcc-starter') }}</p>
        {% endif %}
        
        <footer class="archive-footer">
          {% include 'pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
        </footer>

      </section>
      
      {% include 'sidebar.twig' %}
    
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    window.onload = function() {
      themePaginationScroll()
    };
  </script>
{% endblock %}