{% extends "base.twig" %}

{% block content %}
<div class="uk-section" data-template="index.twig">
  <div class="uk-container">
    <div class="uk-grid-large" uk-grid>
      
      <div class="uk-article uk-width-2-3@m">
        
        <h1 class="uk-article-title uk-margin-large-bottom">{{ title }}</h1>
        
        {% if posts is not empty %}
        <div class="archive-posts">
          {% for post in posts %}
          {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
          {% endfor %}
        </div>
        {% else %}
        <p class="uk-text-emphasis">No posts found. Add some posts!</p>
        {% endif %}
          
        {% if is_paginated %}
        {% include 'pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
        {% endif %}

      </div>
      
      {% include 'sidebar.twig' %}
      
    </div>
  </div>
</div>
{% endblock %}