{% extends "page.twig" %}

{% block single_header %}
{% endblock %}

{% block single_content %}
  <h4>{{ __('Sorry, this page or item doesnt exist', 'rmcc-starter') }}</h4>
  <p>{{ __('We couldnt find what you were looking for. Try using the search form below', 'rmcc-starter') }}</p>
  <div class="">
    <form class="uk-search uk-search-default uk-width-1-2 search-form" role="search" method="get" action="{{site.url|e('esc_url')}}">
      <span uk-search-icon></span>
      <input class="uk-search-input" name="s" type="search" placeholder="Search..." autocomplete="off">
    </form>
  </div>
{% endblock %}