// 1. Customizing variables from uikit. These will overwrite the UIKIT imports below. 
$text-bold-font-weight: 700; 
$base-heading-font-weight: 700;
$base-strong-font-weight: 700;
$nav-default-font-size: 1rem;
$container-xsmall-max-width: 650px;
$navbar-nav-item-text-transform: capitalize;
$label-text-transform: capitalize;
$offcanvas-bar-width: 320px;
$base-heading-margin-top: 20px;

// 2. Import variables & mixins froim uikit. You can also use the default styling scss files, I have used the theme ones.
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";

// 4. Import main UIkit (theme)
@import "node_modules/uikit/src/scss/uikit-theme.scss";

// import your custom sass styles
@import "style.scss";