<aside class="uk-width-1-3@m">
{% if sidebar_left %}
	{{ sidebar_left }}
{% else %}
	<h3 class="uk-heading-line uk-text-bold widget-title"><span>Left Sidebar</span></h3>
	<div class="uk-tile uk-tile-small uk-tile-muted uk-border-rounded">
		Add some widgets to the Left Sidebar Widget Area in Appearance > Widgets. I recommend to use the uikit custom html widget for custom html, and use markup from the <a href="https://getuikit.com/docs/introduction" target="_blank">official uikit documentation</a>.
	</div>
{% endif %}
</aside>