<section class="uk-section uk-section-small more-stories">

  <div class="uk-container">
    <h2 class="uk-text-bold">More articles</h2>
    <div uk-slider="velocity: 5">
      <div class="uk-position-relative">
        <div class="uk-slider-container">
          <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-grid-medium">

          {% for post in more_stories %}
          {% include 'tease-featured-related.twig' %}
          {% endfor %}

          </ul>
        </div>
        <div class="uk-hidden@m uk-light">
          <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"><span class="uk-hidden">Previous</span></a>
          <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"><span class="uk-hidden">Next</span></a>
        </div>
        <div class="uk-visible@m">
          <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"><span class="uk-hidden">Previous</span></a>
          <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"><span class="uk-hidden">Next</span></a>
        </div>
      </div>

    </div>
  </div>
</section>