{% extends "base.twig" %}

{% block content %}

<div class="uk-section" data-template="page-home.twig">
  <div class="uk-container">
    <div class="uk-grid-large" uk-grid>

      <div id="MainArchiveIndex" class="uk-article uk-width-2-3@m">

      <h1 class="uk-article-title uk-margin-large-bottom">{{ site.title }}</h1>

      {% for post in posts %}
      {% include 'tease.twig' %}
      {% endfor %}
      
      {% if posts > 4 %}
      {% include 'pagination.twig' %}
      {% endif %}
      
      {% if posts is empty %}
      <p class="uk-text-emphasis">No posts found. Please publish some content via Posts > Add New</p>
      {% endif %}

      </div>

    {% include 'sidebar.twig' %}

    </div>
  </div>
</div>

{% endblock %}