<footer class="uk-section uk-section-small uk-section-muted">
  <div class="uk-container">
  {% if sidebar_footer %}
  	{{sidebar_footer}}
  {% else %}
  	<p class="uk-text-small uk-text-center">Copyright 2019 <a href="#">Created by RMcCormack</a> | A Wordpress Theme built with <a href="http://getuikit.com" target="_blank" data-uk-tooltip="" rel="noopener noreferrer" title="" aria-expanded="false">UIKit 3</a>  &amp; <a href="https://github.com/timber/timber" target="_blank" rel="noopener noreferrer">Timber</a></p>
  {% endif %}
  </div>
</footer>