<div id="CommentBox">
  
  {% if post.comments|length > 0 %}
    <ul class="uk-comment-list uk-margin-medium-bottom">
      {% for comment in post.comments %}
        {% include "comments-list.twig" %}
      {% endfor %}
    </ul>
  {% endif %}

  <div id="CommentForm">
    <h4>{{ __('Leave a new comment', 'ned-murphy-tractors-theme') }}</h4>
    {% include "comment-form.twig" %}
  </div>

</div>