<footer class="the-footer uk-section uk-section-small uk-section-muted">
  <div class="uk-container">
  {% if sidebar_footer %}
  	{{sidebar_footer}}
  {% else %}
  	<p class="uk-text-small uk-text-center">Copyright© {{current_year}} <a href="https://github.com/robmccormack89" title="My Github" target="_blank">Created by RMcCormack</a> | A Wordpress Theme built with <a href="http://getuikit.com" title="UIKIT" target="_blank"  >UIKit 3</a>  &amp; <a href="https://github.com/timber/timber" title="Timber WP" target="_blank">Timber WP</a></p>
  {% endif %}
  </div>
</footer>