<div class="">
    <form class="uk-search uk-search-default uk-width-1-1 search-form" role="search" method="get" action="{{site.url}}">
        <span uk-search-icon></span>
        <input class="uk-search-input" name="s" type="search" placeholder="Search...">
    </form>
</div>