<aside class="uk-width-1-3@m">
	<button type="button" data-link="https://rob.com/corporis-sint-deleniti-eos/" hidden>Click me</button>
	{% if sidebar %}
		{{ sidebar }}
	{% else %}
		<h3 class="uk-text-bold widget-title">{{ __('Sidebar', 'rmcc-starter') }}</h3>
		<div class="uk-tile uk-tile-small uk-tile-muted">
			{{ __('Add some widgets to the Sidebar Widget Area in Appearance > Widgets.', 'rmcc-starter') }}
		</div>
	{% endif %}
</aside>