<header id="header" style="background-color: #fff;" uk-sticky="show-on-up: true; animation: uk-animation-fade; media: @l">
  <div class="uk-container">
    
    {% include 'navbar.twig' %}

    {% include 'offcanvas.twig' %}
    
  </div>
</header>
<!-- /header section -->