<div class="uk-navbar-right">
  <div class="nav-overlay uk-visible@m">
    <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" title="Open the Search Box"></a>
  </div>
  <button class="uk-button uk-button-default uk-visible@m" type="button" uk-toggle="target: html; cls: dark-style uk-light">Change Style</button>
  <ul class="uk-navbar-nav uk-hidden@m">
    <li>
      <a class="uk-navbar-toggle" data-uk-navbar-toggle-icon data-uk-toggle href="#offcanvas-nav" title="Open the Mobile Menu"><span class="uk-hidden">Menu</span></a>
    </li>
  </ul>
</div>