<div class="nav-overlay uk-navbar-left uk-visible@m uk-flex-1" hidden>
    <div class="uk-navbar-item uk-width-expand">
        <form class="uk-search uk-search-navbar uk-width-1-1" role="search" method="get" action="{{site.url}}">
           <label for="header-search" class="uk-hidden">Search</label>
           <input class="uk-search-input" type="search" id="header-search" placeholder="Search..." name="s" autofocus>
           <input type="hidden" name="post_type" value="post">
        </form>
    </div>
    <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" title="Open the Search Box"></a>
</div>