<nav class="uk-navbar-transparent" data-uk-navbar>
  
  {% include 'navbar-logo.twig' %}
  
  {% include 'navbar-menu.twig' %}
  
  {% include 'navbar-search.twig' %}
  
  {% include 'navbar-right.twig' %}

</nav>