/* theme borders */
.theme-border {
  border: $theme_border;
}

.theme-border-top {
  border-top: $theme_border;
}

.theme-border-right {
  border-right: $theme_border;
}

.theme-border-bottom {
  border-bottom: $theme_border;
}

.theme-border-left {
  border-left: $theme_border;
}
/* rounded borders */
.uk-button,
img {
  border-radius: 5px;
}

img.more-stories-featured-img {
  border-radius: 5px 5px 0 0;
}