/* overflow fix */
body,
html {
  max-width: 100%;
  overflow-x: hidden;
}
/* pull right 15px */
.pull-right-15 {
  margin-right: -15px;
}

/* comment bg colour light bg */
.uk-comment-primary {
  // background-color: #fff;
}
/* comment form */
.comment-form {
  // padding: 20px 0 0 0;
}