/* standard tease image caption */
.tease-image-caption {
  padding-bottom: 0px!important;
}
/* more stories */
.more-stories .uk-slider-container {
  padding: 0 10px;
}
/* bottom bar */
.bottom-bar {
  z-index: 100;
}