/* UIKit based resonsive breakpoints */
@media only screen and (max-width:479px) {
  
}

@media only screen and (min-device-width:480px) and (max-device-width:767px) {
  
}

@media only screen and (min-device-width:768px) and (max-device-width:959px) {

}

@media only screen and (min-device-width:960px) and (max-device-width:1199px) {
  
}

@media only screen and (min-width:1200px) {
  
}

/* custom breakpoints */
@media only screen and (min-width:980px) {
  
}

@media only screen and (min-device-width:960px) {
  
}