/* some uikit changes */
.uk-container-xsmall {
  max-width: 650px;
}

.uk-navbar-nav > li > a {
  text-transform: capitalize;
}

.uk-label {
  text-transform: capitalize;
}
/* mobile offcanvas changes */
.uk-offcanvas-bar {
  width: 320px!important;
}

.uk-offcanvas-bar .uk-close,
.uk-offcanvas-bar .uk-nav-default > li > a {
  color: hsla(0, 0%, 100%, 0.8);
}

.uk-offcanvas-bar .uk-nav-default {
  font-size: 1rem;
}
/* logo */
.uk-logo {
  font-size: 1.7rem;
}

.uk-logo > img {
  height: 30px;
}